*{
    color: #D4EF60;
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
    transition-duration: 0.25s;
}

html {
    
}

html, body{
    padding:0;
    margin:0;
}

h1 {
    
}

body{
    background-color: #97ABB1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

main{
    width: 95%;
    max-width: 600px;
}

input, select, button{
    background: none;
    border: 2px solid #eee;
}

.hidden {
    display: none !important;
    opacity: 0;
    height: 0px;
    flex: 0;
}