/* rock-salt-regular - latin */
/* @font-face {
    font-family: 'Rock Salt';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rock-salt-v11-latin-regular.eot'); /* IE9 Compat Modes */
/*    src: local('Rock Salt Regular'), local('RockSalt-Regular'),
/*         url('./fonts/rock-salt-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*         url('./fonts/rock-salt-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
/*         url('./fonts/rock-salt-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
/*        url('./fonts/rock-salt-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
/*         url('./fonts/rock-salt-v11-latin-regular.svg#RockSalt') format('svg'); /* Legacy iOS */
/*  } */

*{
    color: #D4EF60;
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
    transition-duration: 0.25s;
}

html, body {
    padding:0;
    margin:0;
}

body {
    background-color: #106B7C;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

main {
    width: 100%;
    max-width: 600px;
}

input, button, select {
    background: none;
    border: 2px solid #20B48D;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 48%;
}

select {
    background: #106B7C;
}

textarea {
    background-color: #106B7C;
}

.hidden {
    display: none !important;
    opacity: 0;
    height: 0px;
    flex: 0;
}

.textfield {
    margin: 0;
    padding: 0;
    float: left;
    width: 32%
}

#accordion {
    float: left;
    margin: 10px auto;
    padding: 0;
    width: 96%;
}

#accordion ul {
    margin: 0px;
    padding: 0;
    border: 0;
}

#accordion li {
    list-style: none;
    width: 100%;
}

#accordion li label {
    padding: 10px;
    display: block;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    line-height: 30px;
    color: #00908F;
    background-color: #106B7C;
    border-bottom: solid 8px #2F4858;
}

/* Hide the radio buttons */
#accordion label+input[type='radio'] {
    display: none;
}

/* hide content by default */
#accordion .content {
    float: left;
    width: 100%;
    display: none;
    padding: 10px;
    font-family: 'Rock Salt', cursive;
    font-size: 19px;
    line-height: 26px;
    background-color: #106B7C;;
}

/* Show content boxes when the radio buttons are checked */
#accordion label+input[type='radio']:checked+.content {
    display: inline-block;
}

.subdiv {
    width: 33%;
    float: left;
}

.radio-list {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}

.radio-list li label {
    float:left;
    margin:0 0 0 0;
   width:16%;
   height:40px;
   position:relative;
}

.radio-list label, .radio-list input {
   display:block;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

.radio-list input[type="radio"] {
   opacity:0.011;
   z-index:100;
}

.radio-list input[type="radio"]:checked + label {
   background:#D4EF60;
   color: #106B7C;
}

.radio-list label {
    padding:5px;
    border:1px solid #20B4FF; 
    cursor:pointer;
   z-index:90;
}

.radio-list label:hover {
    background:#20B48D;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D4EF60;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#D4EF60;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#D4EF60;
  }

input:focus::-webkit-input-placeholder { color:#F6FF82; opacity: 0.60;}
input:focus:-moz-placeholder { color:#F6FF82; opacity: 0.75;} /* FF 4-18 */
input:focus::-moz-placeholder { color:#F6FF82; opacity: 0.75;} /* FF 19+ */
input:focus:-ms-input-placeholder { color:#F6FF82; opacity: 0.75;} /* IE 10+ */